@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	color: #e0cfb2;
	background-color: #0d0d0d;
}

.main {
	max-width: 30rem;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	gap: 3rem;
	padding: 2rem;
}

.header {
	display: flex;
	max-width: 80%;
	margin: auto;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;

	padding: 1rem 0;
}

.header i {
	color: #e0cfb2;
	font-size: 1.5rem;
}

.logo-text {
	color: #e0cfb2;
	font-size: 1.5rem;
	font-weight: 700;
}

.logo-text>span {
	color: #ff5631;
}

.progress {
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 4rem;
	gap: 2rem;
	border: 0.75px solid #e0cfb2;
	border-radius: 2rem;
}

.progress .confirmation {
	display: grid;
	font-size: 1.5rem;
	font-weight: 700;
}

.progress .encourage {
	font-size: 1rem;
	font-weight: 200;
}

.progress .num-completed {
	display: grid;
	place-items: center;
	background-color: #ff5631;
	color: #0d0d0d;
	font-size: 1.5rem;
	font-weight: 700;
	border-radius: 50%;
	padding: 3rem;
}

form {
	min-width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

form>input {
	min-width: 80%;
	border: none;
	border-radius: 1rem;
	padding: 1rem;
	font-family: "Poppins", sans-serif;
	background-color: #1e1e1e;
	color: #e0cfb2;
	font-size: 1.2rem;
}

form .addBtn {
	border: none;
	border-radius: 50%;
	padding: 1rem 1.35rem;
	color: #0d0d0d;
	font-size: 1.3rem;
	font-weight: 900;
	background-color: #ff5631;
	cursor: pointer;

	transition: scale 200ms ease-in-out;
}

form .addBtn:hover {
	scale: 1.1;
}

.task-lists {
	display: grid;
	gap: 1rem;
	min-width: 100%;
}

.task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	font-size: 1.2rem;
	border: 0.5px solid #e0cfb2;
	border-radius: 1rem;
	padding: 1rem;
	background-color: #1e1e1e;
}

.task>div {
	display: flex;
	gap: 0.5rem;
}

.task>span {
	display: flex;
	gap: 1rem;
}

.task i {
	cursor: pointer;
	transition: scale 200ms ease-in-out;
}

.task i:hover {
	scale: 1.2;
}

.editTaskField {
	background-color: #1e1e1e;
	color: #e0cfb2;
	border: none;
	border-radius: 0.5rem;
	font-size: 1.2rem;
	font-family: "Poppins", sans-serif;
}

.editTaskField:focus {
	border: none;
}

/* Media Queries */
@media screen and (max-width: 21.25em) {
	.progress {
		flex-wrap: wrap;
	}

	.task {
		flex-wrap: wrap;
		justify-content: center;
	}
}